.Header__8 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 6274px;
  z-index: 260;
}
.Text {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 6274px;
  z-index: 259;
}
.China_is_speeding_up_strategic_plan__standards_ {
  font-size: 20px;
  font-family: "Montserrat";
  color: rgba( 255, 255, 255, 0.702 );
  line-height: 1.6;
  text-align: center;
  position: absolute;
  left: 400.209px;
  top: 371.379px;
  width: 766px;
  height: 84px;
  z-index: 258;
}
.Hello_World {
  font-size: 62px;
  font-family: "Montserrat";
  color: rgb( 255, 255, 255 );
  line-height: 1.161;
  text-align: center;
  position: absolute;
  left: 400.069px;
  top: 271.474px;
  width: 322px;
  height: 48px;
  z-index: 257;
}
.Sign_Up_Form {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 6274px;
  z-index: 255;
}
.It_is_absolutely_free {
  font-size: 12px;
  font-family: "Montserrat";
  color: rgba( 255, 255, 255, 0.302 );
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  left: 724px;
  top: 622.027px;
  z-index: 254;
}
.Create_Your_Account {
  font-size: 16px;
  font-family: "Montserrat";
  color: rgb( 255, 255, 255 );
  text-transform: uppercase;
  line-height: 1.75;
  text-align: center;
  position: absolute;
  left: 683px;
  top: 616.703px;
  z-index: 253;
}
.Input_Field {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 6274px;
  z-index: 252;
}
.denis_getcraftwork_com {
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb( 255, 255, 255 );
  line-height: 1.857;
  text-align: left;
  position: absolute;
  left: 436px;
  top: 720.365px;
  z-index: 251;
}
.Input_Field {
  border-width: 1px;
  border-color: rgb( 255, 255, 255 );
  border-style: solid;
  border-radius: 2px;
  opacity: 0.2;
  position: absolute;
  left: 415px;
  top: 677px;
  width: 290px;
  height: 50px;
  z-index: 250;
}
.Input_Field {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 6274px;
  z-index: 248;
}
.Create_your_password {
  font-size: 14px;
  font-family: "Montserrat";
  color: rgba( 255, 255, 255, 0.302 );
  line-height: 1.857;
  text-align: left;
  position: absolute;
  left: 755px;
  top: 721.365px;
  z-index: 247;
}
.Input_Field {
  border-width: 1px;
  border-color: rgb( 255, 255, 255 );
  border-style: solid;
  border-radius: 2px;
  opacity: 0.2;
  position: absolute;
  left: 737px;
  top: 677px;
  width: 290px;
  height: 50px;
  z-index: 246;
}
.Squared_Button {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 6274px;
  z-index: 244;
}
.Sign_Up {
  font-size: 12px;
  font-family: "Montserrat";
  color: rgb( 20, 20, 20 );
  text-transform: uppercase;
  line-height: 1.833;
  text-align: center;
  position: absolute;
  left: 1092px;
  top: 719.027px;
  z-index: 243;
}
.Button {
  border-radius: 2px;
  background-color: rgb( 255, 255, 255 );
  position: absolute;
  left: 1059px;
  top: 677px;
  width: 126px;
  height: 52px;
  z-index: 242;
}
.Placeholder {
  border-width: 1px;
  border-color: rgb( 255, 255, 255 );
  border-style: solid;
  border-radius: 2px;
  opacity: 0.2;
  position: absolute;
  left: 315px;
  top: 530px;
  width: 968px;
  height: 248px;
  z-index: 240;
}
.Background {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 6274px;
  z-index: 238;
}
.Divider {
  background-color: rgb( 20, 20, 20 );
  opacity: 0.102;
  position: absolute;
  left: 0px;
  top: 988px;
  width: 1600px;
  height: 2px;
  z-index: 237;
}
.Background {
  background-color: rgb( 20, 20, 20 );
  opacity: 0.651;
  position: absolute;
  left: 0px;
  top: -11px;
  width: 1600px;
  height: 1001px;
  z-index: 236;
}
.tc_1 {
  background-image: url("../images/hello_02.png");
  position: absolute;
  left: 0px;
  top: -8px;
  width: 1600px;
  height: 998px;
  z-index: 235;
}
