.Feature__14 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 6274px;
  z-index: 152;
}
.Feature_1 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 6274px;
  z-index: 151;
}
.Photo {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 6274px;
  z-index: 150;
}
.图层_3 {
  background-image: url("images/图层 3.png");
  position: absolute;
  left: 246px;
  top: 3075px;
  width: 829px;
  height: 553px;
  z-index: 149;
}
.Background {
  border-radius: 2px;
  background-color: rgb( 20, 20, 20 );
  position: absolute;
  left: 314px;
  top: 3193px;
  width: 572px;
  height: 351px;
  z-index: 148;
}
.Text {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 6274px;
  z-index: 146;
}
.Learn_How_to_Improve_Your_Personal_Business {
  font-size: 20px;
  font-family: "Montserrat";
  color: rgb( 20, 20, 20 );
  line-height: 1.6;
  text-align: left;
  position: absolute;
  left: 987px;
  top: 3299.379px;
  width: 265px;
  height: 47px;
  z-index: 145;
}
.Li_Jun__a_China_Academy_of_Engineering_academic {
  font-size: 16px;
  font-family: "Montserrat";
  color: rgba( 20, 20, 20, 0.702 );
  line-height: 1.75;
  text-align: left;
  position: absolute;
  left: 985px;
  top: 3378.703px;
  width: 305px;
  height: 156px;
  z-index: 144;
}
.Feature_2 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 6274px;
  z-index: 141;
}
.Photo {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 6274px;
  z-index: 140;
}
.图层_4 {
  background-image: url("images/图层 4.png");
  position: absolute;
  left: 708px;
  top: 3520px;
  width: 582px;
  height: 582px;
  z-index: 139;
}
.Background {
  border-radius: 2px;
  background-color: rgb( 20, 20, 20 );
  position: absolute;
  left: 714px;
  top: 3623px;
  width: 572px;
  height: 351px;
  z-index: 138;
}
.Text {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 6274px;
  z-index: 136;
}
.Choose_Between_Two_Beautifully_Designed_Color_S {
  font-size: 20px;
  font-family: "Montserrat";
  color: rgb( 20, 20, 20 );
  line-height: 1.6;
  text-align: left;
  position: absolute;
  left: 314px;
  top: 3724.379px;
  width: 321px;
  height: 51px;
  z-index: 135;
}
.China_will_come_up_with_its_own_smart_car_stand {
  font-size: 16px;
  font-family: "Montserrat";
  color: rgba( 20, 20, 20, 0.702 );
  line-height: 1.75;
  text-align: left;
  position: absolute;
  left: 314px;
  top: 3803.703px;
  width: 306px;
  height: 153px;
  z-index: 134;
}
.Background {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 6274px;
  z-index: 131;
}
.Divider {
  background-color: rgb( 20, 20, 20 );
  opacity: 0.102;
  position: absolute;
  left: 0px;
  top: 4078px;
  width: 1600px;
  height: 1px;
  z-index: 130;
}
.Background {
  background-color: rgb( 255, 255, 255 );
  position: absolute;
  left: 0px;
  top: 3078px;
  width: 1600px;
  height: 1001px;
  z-index: 129;
}
