.Footer__9 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 6274px;
  z-index: 33;
}
.Menus {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 6274px;
  z-index: 32;
}
.Menu_1 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 6274px;
  z-index: 31;
}
.Learn_More {
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb( 255, 255, 255 );
  text-transform: uppercase;
  line-height: 2;
  text-align: left;
  position: absolute;
  left: 216px;
  top: 5978.365px;
  z-index: 30;
}
.How_it_works__Meeting_tools_Live_streaming_Cont {
  font-size: 16px;
  font-family: "Montserrat";
  color: rgba( 255, 255, 255, 0.302 );
  line-height: 2.875;
  text-align: left;
  position: absolute;
  left: 215px;
  top: 6042.703px;
  z-index: 29;
}
.Menu_2 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 6274px;
  z-index: 27;
}
.About_Us {
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb( 255, 255, 255 );
  text-transform: uppercase;
  line-height: 2;
  text-align: left;
  position: absolute;
  left: 514.437px;
  top: 5978.365px;
  z-index: 26;
}
.About_us_Features_Privacy_police_Terms___Condit {
  font-size: 16px;
  font-family: "Montserrat";
  color: rgba( 255, 255, 255, 0.302 );
  line-height: 2.875;
  text-align: left;
  position: absolute;
  left: 514px;
  top: 6042.703px;
  z-index: 25;
}
.Menu_3 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 6274px;
  z-index: 23;
}
.Support {
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb( 255, 255, 255 );
  text-transform: uppercase;
  line-height: 2;
  text-align: left;
  position: absolute;
  left: 814px;
  top: 5978.365px;
  z-index: 22;
}
.F_A_Q__Contact_us_Live_chat_Phone_call_ {
  font-size: 16px;
  font-family: "Montserrat";
  color: rgba( 255, 255, 255, 0.302 );
  line-height: 2.875;
  text-align: left;
  position: absolute;
  left: 814px;
  top: 6042.703px;
  z-index: 21;
}
.Text___Socials {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 6274px;
  z-index: 18;
}
.Enjoy_your_Life {
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb( 255, 255, 255 );
  text-transform: uppercase;
  line-height: 2;
  text-align: left;
  position: absolute;
  left: 1113px;
  top: 5978.365px;
  z-index: 17;
}
.Great_web_UI_kit_for_designers__freelancers_or_ {
  font-size: 18px;
  font-family: "Montserrat";
  color: rgba( 255, 255, 255, 0.4 );
  line-height: 1.556;
  text-align: left;
  position: absolute;
  left: 1113.516px;
  top: 6017.041px;
  width: 259px;
  height: 43px;
  z-index: 16;
}
.Socials_Buttons {
  opacity: 0.302;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 6274px;
  z-index: 15;
}
.Twitter_Icon {
  background-color: rgb( 255, 255, 255 );
  position: absolute;
  left: 1114px;
  top: 6079px;
  width: 17px;
  height: 14px;
  z-index: 14;
}
.Facebook_Icon {
  background-color: rgb( 255, 255, 255 );
  position: absolute;
  left: 1158px;
  top: 6077px;
  width: 11px;
  height: 18px;
  z-index: 13;
}
.Google_Icon {
  background-color: rgb( 255, 255, 255 );
  position: absolute;
  left: 1192px;
  top: 6077px;
  width: 25px;
  height: 16px;
  z-index: 12;
}
.Tumbler_Icon {
  background-color: rgb( 255, 255, 255 );
  position: absolute;
  left: 1239px;
  top: 6077px;
  width: 11px;
  height: 18px;
  z-index: 11;
}
.Pinterest_Icon {
  background-color: rgb( 255, 255, 255 );
  position: absolute;
  left: 1279px;
  top: 6077px;
  width: 16px;
  height: 19px;
  z-index: 10;
}
.LinkedIn_Icon {
  background-color: rgb( 255, 255, 255 );
  position: absolute;
  left: 1320px;
  top: 6078px;
  width: 17px;
  height: 16px;
  z-index: 9;
}
.Background {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 6274px;
  z-index: 6;
}
.Divider {
  background-color: rgb( 20, 20, 20 );
  opacity: 0.102;
  position: absolute;
  left: 0px;
  top: 6283px;
  width: 1600px;
  height: 2px;
  z-index: 5;
}
.Background {
  background-color: rgb( 20, 20, 20 );
  position: absolute;
  left: 0px;
  top: 5864px;
  width: 1600px;
  height: 421px;
  z-index: 4;
}
